* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fef7d5;
  font-family: Unna;
  color: #58534c;
  height: 70px;
}

.menu-button {
  border-radius: 10px;
  padding: 10px 50px;
  transition: 0.8s;
}

.titulo-brand {
  font-size: 1.4rem;
  transition: 0.8s;
  cursor: pointer;
}

.titulo-brand:hover {
  color: rgba(247, 158, 85, 0.836);
}

.css-1a7q9t8 {
  justify-content: center;
}
.carrito-icono,
.carrito-numero {
  font-size: 1.2rem;
  transition: 0.5s;
}

.carrito-icono:hover {
  color: rgba(247, 158, 85, 0.836);
}

.count-container {
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  gap: 2rem;
  color: white;
  border-radius: 1rem;
}

.item-count {
  background-color: #222;;
  border-radius: 1rem;
  padding: 5px 20px 5px 20px;
}
.item-count:hover {
  background-color: rgb(197, 79, 0);
}
.parrafo-count {
  background-color: #222; ;
  padding: 5px 30px 5px 30px;
  border-radius: 1rem;
}
.parrafo-count:hover {
  background-color: rgb(197, 79, 0);
}

.item-container {
  display: flex;
  gap: 1rem;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  margin: 0 auto;
  cursor: pointer;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

